html[lang="fa-IR"] *:not([class*='fa']),{
	font-family: IRANSans,"Roboto", "Odoo Unicode Support Noto", sans-serif !important;
}

html[lang="fa-IR"] pre,
html[lang="fa-IR"] input.o_field_email,
html[lang="fa-IR"] div.o_field_email,
html[lang="fa-IR"] input.o_field_phone,
html[lang="fa-IR"] div.o_field_phone,
html[lang="fa-IR"] input[type="tel"],
html[lang="fa-IR"] input[type="email"],
html[lang="fa-IR"] input[name="zip"],
{
    direction: rtl !important;
    text-align: right;
}
