body.o_rtl *:not([class*='fa']),{
	font-family: IRANSans,"Roboto", "Odoo Unicode Support Noto", sans-serif !important;
}

// body.o_rtl .roboto *:not([class*='fa']),
body.o_rtl pre,
body.o_rtl input.o_field_email,
body.o_rtl div.o_field_email,
body.o_rtl input.o_field_phone,
body.o_rtl div.o_field_phone,
body.o_rtl input[name='zip'],{
    direction: rtl !important;
    font-family: "Roboto", "Odoo Unicode Support Noto", sans-serif !important;
}


