html[lang="fa_IR"] *:not([class*='fa']){
	font-family: IRANSans,"Roboto", "Odoo Unicode Support Noto", sans-serif !important;

}
div[data-oe-lang="fa_IR"] *:not([class*='fa']){
	font-family: IRANSans,"Roboto", "Odoo Unicode Support Noto", sans-serif !important;

}
html[lang="fa_IR"] pre,
html[lang="fa_IR"] input.o_field_email,
html[lang="fa_IR"] div.o_field_email,
html[lang="fa_IR"] input.o_field_phone,
html[lang="fa_IR"] div.o_field_phone,
html[lang="fa_IR"] input[name='zip'],{
    direction: rtl !important;
}
div[data-oe-lang="fa_IR"] pre,
div[data-oe-lang="fa_IR"] input.o_field_email,
div[data-oe-lang="fa_IR"] div.o_field_email,
div[data-oe-lang="fa_IR"] input.o_field_phone,
div[data-oe-lang="fa_IR"] div.o_field_phone,
div[data-oe-lang="fa_IR"] input[name='zip'],{
    direction: rtl !important;
}


